<h1>Add a new Contact to your PhoneBook!</h1>

<form action="/contact/new" method = "post">
<label for="contactFirst"> First Name</label>
<input id="contactFirst" name="contactFirst" type="text">
<label for="contactLast"> Last Name</label>
<input id="contactLast" name="contactLast" type="text">
<label for="contactNumber"> Phone Number </label>
<input id="contactNumber" name="contactNumber" type="text">
<label for="contactEmail"> Email Address </label>
<input id="contactEmail" name="contactEmail" type="text">
<button  type="submit">Submit</button>

</form>

  